@using Microsoft.AspNetCore.Mvc.Rendering
@model FilamentViewModel

@using (Html.BeginForm("Edit", "Filament", FormMethod.Post))
{
    <input type="hidden" asp-for="Filament.FilamentId" />
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.FilamentType)
        <select asp-for="Filament.FilamentTypeId"
                asp-items="@new SelectList(Model.Filamenttypes, nameof(FilamentType.FilamentTypeId), nameof(FilamentType.Name))" class="form-control"></select>
    </div>
    
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.Diameter)
        @Html.TextBoxFor( o => o.Filament.Diameter,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.Color)
        @Html.TextBoxFor( o => o.Filament.Color,new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.Manufacturer)
        <select asp-for="Filament.ManufacturerId"
                asp-items="@new SelectList(Model.Manufacturers, nameof(Manufacturer.ManufacturerId), nameof(Manufacturer.Name))" class="form-control"></select>
    </div>
    
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.Price)
        @Html.TextBoxFor( o => o.Filament.Price,new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.SpoolWeight)
        @Html.TextBoxFor( o => o.Filament.SpoolWeight,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.PrintTempBed)
        @Html.TextBoxFor( o => o.Filament.PrintTempBed,new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor( o => o.Filament.PrintTempNozzle)
        @Html.TextBoxFor( o => o.Filament.PrintTempNozzle,new { @class = "form-control" })
    </div>
    
    
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Speichern</button>
}