@model IEnumerable<Filament>

@{
    ViewData["Title"] = "Filaments";
}
<p>
    <a asp-area="" asp-controller=@nameof(Filament) asp-action="Edit" class="btn btn-outline-success my-2 my-sm-0">Add Filament</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilamentType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpoolWeight)
        </th>
        <th></th>
    </tr>
</thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilamentType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpoolWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FilamentId" class="btn btn-outline-info btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.FilamentId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
</table>