@using System.Globalization
@model CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div xmlns="http://www.w3.org/1999/html">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-horizontal">
           <div class="form-group">
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.Filaments)
                @Html.DropDownListFor(o => o.SelectedFilament,
                    new SelectList(Model.Filaments, nameof(Filament.FilamentId), nameof(Filament.Displayname)), "Select Filament", new {@class = "form-control"})
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.weight)
                @Html.TextBoxFor(model => model.weight,new { @class = "form-control" })
            </div>

            <!-- 
            <div class="form-group">
                @Html.LabelFor(model => model.lengthmm)
                @Html.TextBoxFor(model => model.lengthmm,new { @class = "form-control" })
            </div>
            -->
            <div class="form-group">
                @Html.LabelFor(model => model.printtimeh)
                @Html.TextBoxFor(model => model.printtimeh,new { @class = "form-control" })
            </div>


            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Calculate</button>
        </div>
    }
    
    <br><br>
    
    @if(Model.costs > 0)
    {
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Print Costs</h4>
                </div>
            <ul class="list-unstyled mt-3 mb-4" style="margin: 5px">
                <li>
                    @Html.LabelFor(model => model.costs):
                    @Html.DisplayFor(model => model.costs) €
                </li>
                <li>
                    @Html.LabelFor(model => model.energyCosts):
                    @Html.DisplayFor(model => model.energyCosts) €
                </li>
                <li>
                    @Html.LabelFor(model => model.filamentCosts):
                    @Html.DisplayFor(model => model.filamentCosts) €
                </li>
            </ul>
        </div>
    }
        </div>
