@using System.Globalization
@model IEnumerable<Manufacturer>
@{
    ViewData["Title"] = "Manufacturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-area="" asp-controller=@nameof(Manufacturer) asp-action="Edit" class="btn btn-outline-success my-2 my-sm-0">Add Manufactor</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrlClick)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManufacturerId" class="btn btn-outline-info btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ManufacturerId" class="btn btn-outline-danger btn-sm">Delete</a>
            </td>
        </tr>
    }
</table>